body{
    background-color: rgb(243, 239, 233);  
    margin:0;
    padding: 0;  
}
/* when the screen is small  */
@media (max-height: 770px) {
    .logo1 {
        max-width: 210px;
        margin-bottom: 60px;
    }
    .tagline {
        font-size: 2em;
    }
    .workhelp{
        width:100%;
    }
    .definework{
        height:300vh;
    }
}


/* Carousal */

.carousel-fade .carousel-inner .item {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}


/* .carousel-fade.carousel-control {
        z-index: 2;
    } */

.starting {
    position: relative;
}

.item {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    overflow: hidden;
}

.imgcar {
    position: relative;
}

.img-overlay {
    width: 100%;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 10;
    position: absolute;
}

.logo1 {
    width: 330px;
    margin: 10% auto 120px auto;
}

.tagline {
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.25em;
}

.tagline,
.sub-tagline {
    max-width: 50%;
    text-align: center;
    color: #c8bca0;
}

.sub-tagline {
    font-family: 'Noto Serif', serif;
    font-size: 1.25em;
    margin: 0 auto;
    font-weight: 400;
    line-height: 30px;
}

.sub-tagline a {
    text-decoration: none;
    color: #c8bca0;
    border-bottom: 1px solid rgba(217, 203, 171, 0.2);
    transition: all 0.25s ease-out;
}

.sub-tagline a:hover {
    border-bottom: 1px solid rgba(217, 203, 171, 1);
}

.down-gold {
    width: 30px;
    margin-top: 30px;
    opacity: 0.7;
}

.down-gold:hover {
    opacity: 1;
    transition-duration: .5s;
}

.header {
    width: 100%;
    height: 75px;
    padding: 19px 0px;
    background-color: rgb(42, 54, 59);
    text-align: center;
    z-index: 200;
}

.header_logo {
    display: inline-block;
    margin: -10px auto 0;
    text-align: center;
    padding:15px 0;
    vertical-align: top;
    /* float: left; */
}

.headlogo {
    height: auto;
    width: 95px;
    display: none;
}

.menu {
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
}

.menu_items {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.37em;
    font-weight:normal;
    margin-left: 60px;
    position: relative;
    text-align: center;
    color: #d9cbab;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: #d9cbab;
    display:block;
    float:left;
    padding-bottom: 5px;
}
a.menu_items:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    opacity: 0.5;
    left: 0;
    position: absolute;
    background: #d9cbab;
    transition: width 0.3s ease-in-out 0s;
    width: 0;
  }
  a.menu_items:hover:after { 
    width: 100%; 
    left: 0; 
  }

a.menu_items:hover {
    color: #d9cbab;
    text-decoration: none;
}
.menu_items:visited{
    color: #d9cbab;
    text-decoration: none;
}
.hamicon {
    margin-top: 0;
}
.activelink{
    font-weight:bold;
}
@media screen and (max-width: 900px) {
    .header{
        
        text-align: left;
        padding: 0 40px;
    }
    .header_logo{
        text-align:left;
        margin-left: 20px;
        padding-top:19px;
        margin: 0 10px 0 20px;
    }
    .headlogo{
        max-width: 85px;
        margin-top: 5px;    
    }
    .menu_items{
        float:none;
    }
    .menu {
        margin-top: 100px;
        left:0;
        box-sizing: content-box;
        width:100%;
        height:auto;
        list-style-type: none;
        display: none;
        position:fixed;
        padding-bottom: 30px;
        background-image: url('../images/nav-background.jpg');
        background-repeat: no-repeat ; 
        background-position: center; 
        background-size: cover;
        text-align: center;
    }
    .menu:before{
        content:"" ;
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;
        background-color: #2a363b;
        box-shadow: 0 0 0 10000px rgba(42, 54, 59, 1);
        opacity: .9;
        z-index: 6;
    }
    .menu_items {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        color: #d9cbab;
        font-family: "Josefin Sans",sans-serif;
        font-size: 2.5em;
        margin: 40px auto 0px;
        text-align: center;
        
        z-index:20;
    }
    .menu_items:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }
    .hamicon {
        display: inline-block;
        font-size: 22px;
        margin-right: 20px;
    }

    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        display: block;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .rotateon{
        margin-top:17px;
        -webkit-transform: rotate(90deg)!important;
        -moz-transform: rotate(90deg)!important;
        -ms-transform: rotate(90deg)!important;
        transform: rotate(90deg)!important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .navbar-toggle img{
        width:40px;
        height:auto;
    }
    .activelink {
        background-color: #ae3c53;
        display: block;
        color:#f3efe9;
    }
    .activel{
        margin-top: 100px;
        box-sizing: border-box;
        display:inline-block;
        overflow-y: auto;
        /* height: 100px; */
    }
    a.menu_items:hover:after { 
        width: 0%; 
        left: 0; 
    }
}


.works {
    height: auto;
    width: 100%;
    background-color: rgb(243, 239, 233);
    padding: 75px 7.5%;
    position: relative;
}

.workhead {
    text-align: center;
    /* margin-top: 100px; */
    font-size: 2em;
    color: #5b5f5f;
    font-weight: inherit;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10vh;
}

.work {
    /* width:33%; */
    height: 380px;
    overflow: hidden;
    margin-bottom: 20px;
}

.workgallery {
    width: auto;
    height: 100%;
}

.gallery-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(42, 54, 59, 0.7);
    top: 0;
    z-index: 10;
    position: absolute;
    text-align: center;
}

.gallerylogo {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery-info {
    background-color: rgb(217, 203, 171);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 15;
    position: absolute;
    text-align: center;
    display: none;
    padding-top: 20px;
}

.galinfo {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #5b5f5f;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0 auto 30px;
    width: 80%;
    text-decoration: none;
    margin-top: 20%;
}

a:hover {
    text-decoration: none;
}

.case-study {
    color: #5b5f5f;
    border: 2px solid #5b5f5f;
    width: 60%;
    height: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: .8em;
    padding: 10px 18px 8px 20px;
    letter-spacing: .44em;
}

.case-study:hover {
    color: #ae3c53;
    border-color: #ae3c53;
}

.definework {
    width: 100%;
    height:auto;
    /* flex-direction: column;
    display: flex;
    min-height: 110vh; */
    position: relative;
    background-image: url("images/nav-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
/* .definework::after {
    content: "";
    display: block;
    clear: both;
  } */

.definework-overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    top: 0;
    position: absolute;
    text-align: center;
    /* padding: 160px 40px 80px; */
}

.workhelphead {
    color: #f3efe9;
    opacity: .66;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    line-height: 1em;
    font-size: 2em;
    padding-top:160px;
    margin-bottom: 100px;
}

.workhelp {
    float: left;
    padding: 40px 40px 80px;
    margin-left: 20px;
    width: calc(50% - 30px);
    height:auto;
    transition: all .5s ease;
    text-align:center;
    display:block;
}
.workhelp:hover{
    transform: scale(0.9);
}

.helpinfo {
    font-size: 2.8em;
    font-weight: 400;
    font-family: "Josefin Sans",sans-serif;
    color: #f3efe9;
    width: 80%;
    display: block;
    transition: all .25s ease-out;
    margin:auto;
    text-align: center;
}

.helpinfo:hover {
    text-decoration: none;
    color: #f3efe9;
}
#helpinfo4{
    margin-bottom:80px;
}
@media screen and (max-width:800px){
    .workhelp{
        width:100%;
    }
    /* .definework{
        height: 200vh;
    } */
}
.latestblog{
    clear: both;
    padding:0 40px;
    width:90%;
    height:auto;
    margin:0 auto;
}
.blogs_title{
    width:100%;
    height:auto;
    padding: 73px 0 62px;
    text-align: center;
}
.latestblog_title{
    font-size:2em;
    font-family: "Josefin Sans",sans-serif;
    color: rgb(91, 95, 95);
}
.blogs{
    display: block;
    height:auto;
    position:relative;
    font-family: "Noto Serif",serif;
}
.blog{
    height: auto;
    /* padding:0 35px; */
}
.blog_content{
    height:23em;
    overflow: hidden; 
    padding-left:5px;
    cursor: pointer;
}
.blog_content_head{
    margin-right: 32px;
    font-family:"Josefin Sans",sans-serif;
    font-size: 2.73em;
    text-align: left;
    line-height: 1.1em;
}
.blog_content_summary{
    margin-top: 20px;
    margin-right: 5px;
    text-align: left;
    font-size: 1.3em;
    color: rgb(91, 95, 95);
    line-height: 1.6em;
}
.blog_content::after {
    position: absolute;
    top: 0;
    height:23em;
    left:0;
    width: 100%;
    content: '';
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(243, 239, 233,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0)), color-stop(100%,rgba(243, 239, 233,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(243, 239, 233,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(243, 239, 233,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(243, 239, 233,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(243, 239, 233,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#F3EFE8',GradientType=0 ); /* IE6-9 */
}​
.dgfd{

}
.blog_container{
    height: auto;
    padding-bottom: 50px;
}
.blog_author{
    position: relative;
    margin-top:50px;
    width:100%; 
    float:left;
    margin-left:5px;
}
.author_img{
    width:36%;
    float: left;
}
.author_info{
    width:50%;
    float:left;
    margin-left:5%;
    color:#5b5f5f;
}
.authorimg{
    width:100%;
    height:auto;
}
.author{
    clear: both;
    letter-spacing: .44em;
    font-size: .8em;
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}
.author_name{
    font-family: "Noto Serif",serif;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0 0 20px;
}
.subject{
    letter-spacing: .44em;
    font-size: .8em;
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}
.subject_name{
    font-family: "Noto Serif",serif;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0 0 20px;
}
.blog:hover .blog_content_head,.blog:hover .blog_content_summary{
    color: #ae3c53;
}
.footer{
    position:relative; 
    background-color: rgb(42, 54, 59);
    bottom: 0;
    width:100%;
    /*height:20vh;*/
    height: auto;
    padding: 100px 0;
   
}
.footer-container{
    width:100%;
    padding: 0 40px;
    margin:0 auto;
    max-width: 1280px;
}
.footer-contact{
    color: #f3efe9;
    width:auto;
    height:auto;
    padding-bottom: 100px;
}
.contact-form{
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    padding: 0;
}
.formhead{
    color: #d9cbab;
    letter-spacing: .44em;
    font-size: .9em;
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 15px;
    display: block;
}
.textbox1{
    font-weight: 400;
    font-family: "Noto Serif",serif;
    padding: 17px 25px 15px;
    width: 100%;
    background: #f3efe9;
    font-size: 1em;
    border: 0;
    margin: 0 0 20px;
}
.textarea1{
    min-height: 120px;
}
.form-submit{
    color: #d9cbab;
    /* border-color: #d9cbab; */
    background: 0 0;
    border: 2px solid #d9cbab;
    font-family: "Josefin Sans",sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1px;
    letter-spacing: .44em;
    display: inline-block;
    font-size: .8em;
    padding: 10px 15px 8px 20px;
    line-height: 1.9em;
    transition: all .25s ease-out;
}
.form-submit:hover{
    border-color: #ae3c53;
}
.contact-detail{
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative;
    padding: 0;
}
.detail{

}
.detailhead{
    color: #d9cbab;
    letter-spacing: .44em;
    font-size: .92em;
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
}
.detailcontent{
    color: #f3efe9;
    margin-bottom: 40px;
    text-decoration: none;
    font-family: "Noto Serif",serif;
    font-size: 2em;
    display: block;
    transition: all .25s ease-out;
}
.detailcontent:hover{
    color: #ae3c53;
}
.sociallink{
    display: inline-block;
    width: 40px;
    margin: 0 15px 0 0;
    text-decoration: none;
    transition: all .25s ease-out;
    float: left;
}
.sociallogo{
    width:100%;
    height: auto;
    transition: all .25s ease-out;
}
.sociallogohover{
    width:100%;
    display: none;
    transition: all .25s ease-out;
} 
.sociallink:hover .sociallogo{
    display:none;
}
.sociallink:hover .sociallogohover{
    display:block;
}
.footer-credits{
    color: #f3efe9;
}
.credits-left, .credits-right{
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    padding: 0;
}
.creditshead{
    color: #f3efe9;
    font-weight: 400;
    display: block;
    font-size: 1.258em;
    margin: 0 0 40px;
    font-family: "Noto Serif",serif;
    line-height: 1.5em;
}
.creditscontent{
    display: block;
    color: #5b5f5f;
    font-family: "Noto Serif",serif;
    font-size: 1.15em;
    margin-bottom: 10px;
}
.credits-right{
    text-align: right;
}
.creditslink{
    color: #5b5f5f;
    margin: 0 0 10px 40px;
    text-decoration: none;
    font-family: "Noto Serif",serif;
    font-size: 1.15em;
}
.creditslink:hover{
    color: #a7a7a4;
    transition: all .25s ease-out;
}
.creditsheadright{
    margin-bottom:25px;
}
@media screen and (max-width:770px){
    .contact-form{
        width: 100%;
        height:auto;
        float:none;
    }
    .contact-detail{
        float:none;
        left:0;
        width:100%;
        height:auto;
        margin-top: 40px;
    }
    .credits-left{
        float:none;
        width:100%;
    }
    .credits-right{
        width:100%;
        float:none;
        text-align:left;
        margin-top: 50px;
    }
    .creditslink{
        margin-left: 0;
        margin-right: 40px;
    }
}